

[rescuehtml]
	<form id="affiliateipsum" method="POST">

		<div class="bpm_tool_left">

				<p>
					<label for="keyword">Your Keyword:</label>
					<input type="text" id="keyword" name="keyword" placeholder="Enter a keyword" value="Monkey">
				</p>

				<p>
					<label for="numparas">Number of Paragraphs:</label>
					<select id="numparas">
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3" selected>Three</option>
						<option value="4">Four</option>
						<option value="5">Five</option>
						<option value="6">Six</option>
					</select>
				</p>

				<p>
					<label for="numpics">Number of Images:</label>
					<select id="numpics">
						<option value="1">One</option>
						<option value="2" selected>Two</option>
						<option value="3">Three</option>
						<option value="4">Four</option>
					</select>
				</p>

				<p><input type="submit" name="submit" value="Submit" /></p>


		</div>

		<div class="bpm_tool_right">
			<label class="codelabel" for="codetext">HTML - copy from here</label>
			<textarea class="codetext" id="codetext" rows="10"></textarea>
			<p><img id="af_monkeypic" src="http://192.168.1.64/bpm/wp-content/themes/blogprofitmedia/tools/affiliate-ipsum/monkey.jpg" /></p>
		</div>

	</form>
[/rescuehtml]

<hr/>

<div class="textarea">
	<p><b>After years of training monkeys to type</b>, we've finally taught enough to release a free web API that you can use.</p>
	<p>Simply <b>enter in your keyword</b> and it will immediately be sent to one of our team, who will write an article for you and find you images.</p>
	<p>For a limited time, you'll get free links to Amazon scattered into the content with <b>rich anchor text</b>.</p>
	<p>Please note that this has been made available as a trial - and as such if the monkeys get too agitated we may have to pull the experiment.</p>
	<b>Seriously though...</b>
	<p><b>Every time you push the 'Submit' button, you'll get a random article</b>. What happens (in a nutshell) is the script collects suggested keywords, then adds them to a list of Ipsum words - and makes sentences. Here's some facts about Affiliate Ipsum:</p>
	<ul>
		<li>Articles are randomly made with every 'submit'.</li>
		<li>The pictures all link back to their original source.</li>
		<li>The links point to Amazon search pages (I couldn't really use my affiliate link!)</li>
		<li>The headline is created seperately and randomly.</li>
	</ul>
	<p>You may find Affiliate Ipsum a nice tool to test what images and links will look like on your site.</p>
	<p>Affiliate Ipsum has been made <b>completely in Javascript/Jquery</b> (and html/css), so it runs completely in the browser.</p>
	<p>No Monkeys were harmed in the creation of Affiliate Ipsum</p>
</div>

